/* :root {
  --blue: rgb(165, 194, 227);
  --fuscia: #861c56;
  --yellow: rgb(250, 219, 120);
  --darkblue: rgb(80, 116, 157);
  --grey: rgb(126, 126, 129);
} */

.about {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: var(--darkblue);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.aboutImg {
  max-height: 600px;
}

@media screen and (max-width: 750px) {
}
