.about {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: var(--darkblue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 92vh;
  width: 100%;
}

.antSection {
  position: relative;
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.aboutImg {
  max-height: 450px;
}

.description {
  height: 100%;
  width: 100%;
  background-image: url(../img/yellowblob.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description > h1 {
  font-size: 8vh;
  color: var(--fuscia);
  margin-bottom: 25px;
  font-weight: 900;
}

.description p {
  font-size: 20px;
  font-weight: 600;
  color: var(--fuscia);
  width: 65%;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .about {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .antSection {
    position: relative;
    width: 100%;
    height: 20%;
    justify-content: flex-end;
    margin-right: 40px;
    margin-bottom: 10px;
  }

  .aboutImg {
    max-height: 100px;
  }

  .description {
    height: 90%;
    width: 100%;
    background-image: url(../img/yellowblob.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .description h1 {
    font-size: 8vh;
    color: var(--fuscia);
    margin-bottom: 25px;
    margin-top: 50px;
  }

  .description p {
    color: var(--fuscia);
    width: 90%;
    text-align: center;
  }
}
