.NavBar {
  background-color: burlywood;
}

.logo {
  max-width: 420px;
}

.NavList {
  list-style: none;
}

.link {
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  color: black;
  font-size: 2em;
  font-family: "Newsreader", serif;
}

.activeHome {
  background-color: blueviolet;
}
.activeAbout {
  background-color: chartreuse;
}
.activeServices {
  background-color: darkcyan;
}
.activeContact {
  background-color: darkred;
}
