@import url("https://fonts.googleapis.com/css2?family=Newsreader:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "Home Main Main Main"
    "Home Main Main Main"
    "Home Main Main Main";
}

.Home {
  grid-area: Home;
  background-color: powderblue;
}

.Main {
  grid-area: Main;
}

.return {
  position: absolute;
  top: 3%;
  left: 2%;
  font-size: 4em;
  font-family: "Newsreader", serif;
  background-color: darkblue;
  color: white;
}

.return:hover {
  color: black;
  background-color: crimson;
}
