* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "Home Main Main Main"
    "Home Main Main Main"
    "Home Main Main Main";
}

.Home {
  grid-area: Home;
  background-color: powderblue;
}

.logo {
  position: absolute;
  bottom: 25%;
  left: 2%;
  max-width: 360px;
}
.Main {
  grid-area: Main;
}
