@import url("https://fonts.googleapis.com/css2?family=Newsreader:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;
  height: 100vh;
  width: 100vw;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  background-color: blanchedalmond;
}
